# Python cache files
__pycache__/
*.py[cod]https://github.com/ravichandraa0011/A1-NETWORKS.git
*$py.class

# Virtual Environment
venv/

# Local Database
db.sqlite3

# Static files directory
staticfiles/